/*
* style sheet for circle design
*/

/*text orientation and design*/
span.circle{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /*translates text to center of circle*/
	color: white;
	font-weight: bold;
	text-align: center; /*text design*/
}

/*design of the actual circle*/
div.circle{
	display: none; /*for fade in effect*/
	position: relative;
	width: 25vw;
	height: auto;	/*set the height to auto*/
	padding-top: 12.5vw;
	padding-bottom: 12.5vw; /*make sure padding sums up to total width*/
	text-align: center;
	border-radius: 50%; /*create a circle. smaller numbers will only round the corners*/
	background: darkblue;
}
